services:
    database:
        container_name: database
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            API_DB_USER: ${API_DB_USER}
            API_DB_PASSWORD: ${API_DB_PASSWORD}

        ports:
            - "5432:5432"

        volumes:
            - DataInference:/var/lib/postgresql/data
            - ./Database:/docker-entrypoint-initdb.d:ro

    api:
        container_name: api
        build:
            context: ./ModelAPI
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        environment:
            DB_HOST: database
            DB_PORT: 5432
            DB_NAME: ${POSTGRES_DB}
            DB_USER: ${API_DB_USER}
            DB_PASSWORD: ${API_DB_PASSWORD}
        depends_on:
            - database

    frontend:
        container_name: frontend
        build:
            context: ./Frontend
            dockerfile: Dockerfile
            args:
                VITE_API_URL: http://api:8000
        ports:
            - "8080:8080"
        depends_on:
            - api

volumes:
    DataInference: 