services:
    database:
        container_name: database
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            API_DB_USER: ${API_DB_USER}
            API_DB_PASSWORD: ${API_DB_PASSWORD}

        ports:
            - "5432:5432"

        volumes:
            - DataInference:/var/lib/postgresql/data
            - ./Database:/docker-entrypoint-initdb.d

volumes:
    DataInference: 