x-common-marimo-analysis: &analysis
    build:
        context: ./StatisticalAnalysis
        dockerfile: Dockerfile
    
    volumes:
        - ./Datasets:/Analysis/Datasets
        - ./StatisticalAnalysis:/Analysis/StatisticalAnalysis

services:
    database:
        container_name: database
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            API_DB_USER: ${API_DB_USER}
            API_DB_PASSWORD: ${API_DB_PASSWORD}

        ports:
            - "5432:5432"

        volumes:
            - DataInference:/var/lib/postgresql/data
            - ./Database:/docker-entrypoint-initdb.d:ro

    statistical-analysis:
        container_name: statistical-analysis
        <<: *analysis

        ports:
            - "5050:8282"
        
        command: marimo run --host 0.0.0.0 -p 8282 StatisticalAnalysis/StatisticalAnalysis.py

        # networks:
            # - traefik_proxy

        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.statistical-analysis.rule=Host(`${DOMAIN}`) && PathPrefix(`/StatisticalAnalysis`)"
            - "traefik.http.routers.statistical-analysis.entrypoints=https"
            - "traefik.http.routers.statistical-analysis.tls.certresolver=cloudflare"
            - "traefik.http.services.statistical-analysis.loadbalancer.server.port=8282"

    data-mining:
        container_name: data-mining
        <<: *analysis

        ports:
            - "5151:8181"
        
        command: marimo run --host 0.0.0.0 -p 8181 StatisticalAnalysis/DataMining.py

        # networks:
            # - traefik_proxy

        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.data-mining.rule=Host(`${DOMAIN}`) && PathPrefix(`/DataMining`)"
            - "traefik.http.routers.data-mining.entrypoints=https"
            - "traefik.http.routers.data-mining.tls.certresolver=cloudflare"
            - "traefik.http.services.data-mining.loadbalancer.server.port=8181"

    api:
        container_name: api
        build:
            context: ./ModelAPI
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        environment:
            DB_HOST: database
            DB_PORT: 5432
            DB_NAME: ${POSTGRES_DB}
            DB_USER: ${API_DB_USER}
            DB_PASSWORD: ${API_DB_PASSWORD}
        depends_on:
            - database

        # networks:
            # - traefik_proxy

        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`${DOMAIN}`) && PathPrefix(`/api`)"
            - "traefik.http.routers.api.entrypoints=https"
            - "traefik.http.routers.api.tls.certresolver=cloudflare"
            - "traefik.http.services.api.loadbalancer.server.port=8080"

    frontend:
        container_name: frontend
        build:
            context: ./Frontend
            dockerfile: Dockerfile
            args:
                VITE_API_URL: $VITE_API_URL
        ports:
            - "8080:8080"
        depends_on:
            - api

        # networks:
            # - traefik_proxy

        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.frontend.rule=Host(`${DOMAIN}`)"
            - "traefik.http.routers.frontend.entrypoints=https"
            - "traefik.http.routers.frontend.tls.certresolver=cloudflare"
            - "traefik.http.services.frontend.loadbalancer.server.port=8080"

volumes:
    DataInference: 

# networks:
#   traefik_proxy:
    # external: true